:root {
    --bs-blue: #2d545e;
    --yellow: #fbaf08;
}

h3 {
    color: var(--bs-blue);
}

.contact button {
    border-radius: 25%;
}

.sap {
    color: var(--yellow);
    font-size: 1.1rem;
    font-weight: bold;
}